*{
    margin: 0;
    padding: 0;
}
header{
 background-color: rebeccapurple;
 height: 5em;
}

#logo{
    font-size: large;
    
}

.navigation{
   float: right;
   padding-top: 15px;
   
   
}

.navigation a{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: white;
    text-decoration: none;
   
    border-right: 1px solid white;
    padding: 15px;
    margin: 5px;
    
}
.side{
   
    border: 1px solid black;
    height: 10em;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
}
.side p{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size:xx-large;
    padding-top: 50px;
    color: rgb(44, 49, 49);
    
}
.links a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(177, 7, 7);
     text-decoration: none;
     border-right: 1px solid rgb(8, 8, 8);
     padding: 15px;
     margin: 5px;

}